.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}  

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

body, html {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  text-align: center;
}

button {
  padding: .2rem;
  color: rgb(249, 249, 249);
  background: rgb(33, 47, 79);
  border: 1px thick white;
  border-radius: .5rem;
}

button:hover {
  text-shadow: 0 0 1px rgba(244, 249, 246, 0.92);
}

ul {
  list-style-type: square;
}

